.my_rotate_180 {
  rotate: 180deg;
}

.my_w_100px {
  width: 100px;
}

.my_h_100px {
  height: 100px;
}

.my_fs_200 {
  font-size: 200%;
}

/* 棋子大小 */

.piece2 {
  font-size: 300%;
}

.piece1 {
  font-size: 200%;
}

.piece0 {
  font-size: 100%;
}

/* 棋子大小 */

.my_lh_8 {
  line-height: 8;
}

.my_lh_6 {
  line-height: 6;
}

.my_click_btn:active {
  animation: btn_move 0.3s;
}

@keyframes btn_move {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.my_show_move_up {
  animation: move_up 0.8s;
}

@keyframes move_up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.container {
  height: 98vh;
}